In [47]:
import numpy as np
import pandas as pd
df = pd.DataFrame(data=np.random.randint(25, size=(5,5)), 
                  index=['idx1','idx2','idx3','idx4','idx5'],
                  columns=['col1','col2','col3','col4','col5'])
df

      col1  col2  col3  col4  col5
idx1    19     3    22    23     6
idx2    10    19    17    10     3
idx3     6    13    17     9    13
idx4    11     1    19     3    14
idx5    21     4     3     0     5

In [65]:

df.iloc[0:3]
df['col2'].iloc[2]
df.index.size
df.columns.size
collist = df.columns.tolist()
type(collist)
print(collist)
print([df.loc[y].mean() for y in df.index])
print([df[x].mean() for x in df.columns])
x = 'col1'
type(df.columns)
k = pd.DataFrame(data=list(zip([df[x].mean() for x in df.columns], [df.loc[y].mean() for y in df.index])),
                 columns=['colmeans','idxmeans'],index=np.arange(0,5))
print(k)

['col1', 'col2', 'col3', 'col4', 'col5']
[14.6, 11.8, 11.6, 9.6, 6.6]
[13.4, 8.0, 15.6, 9.0, 8.2]
   colmeans  idxmeans
0      13.4      14.6
1       8.0      11.8
2      15.6      11.6
3       9.0       9.6
4       8.2       6.6

In [70]:
df[['col1','col2','col3']].corr()
print(df[['col1','col2']].cov())

      col1  col2
col1  40.3 -29.0
col2 -29.0  59.0

In [75]:
s = np.linalg.norm(df['col1'].loc['idx1']-df['col5'].loc['idx5'])  #Euclidian distance between two items on an array.
#Euclidian is the geometric diagnoal distance

t = np.linalg.norm(df['col5'].loc['idx1']-df['col1'].loc['idx5'])
print(s,t) #how one cross distance is 14 and another is 15?

#scipy spatial also provides similar functions but in such cases it is slower than numpy functions

14.0 15.0

In [78]:
import math
def sigmoid(x):
    return 1 / (1 + math.exp(-x))

df.applymap(sigmoid) #applymap() function to apply a function every cell in the dataframe
#apply() function can work only on list, Series, one colulumn of a dataframe, array

          col1      col2      col3      col4      col5
idx1  1.000000  0.952574  1.000000  1.000000  0.997527
idx2  0.999955  1.000000  1.000000  0.999955  0.952574
idx3  0.997527  0.999998  1.000000  0.999877  0.999998
idx4  0.999983  0.731059  1.000000  0.952574  0.999999
idx5  1.000000  0.982014  0.952574  0.500000  0.993307

In [79]:
'''Date and Time Assignment'''
'''1. Write a python program to determine whether a given year is a leap year or not? 
2. Write a Python program to get days between two dates 
3. Write a Python program calculates the date six months from the current date using the datetime module. 
4. Write a Python program to convert a string date to the timestamp. 
5. Write a Python program to print a 3-column calendar for an entire year 
6. Write a Python program display a list of the dates for the 2nd Saturday of every month for a given year.'''

'1. Write a python program to determine whether a given year is a leap year or not? \n2. Write a Python program to get days between two dates \n3. Write a Python program calculates the date six months from the current date using the datetime module. \n4. Write a Python program to convert a string date to the timestamp. \n5. Write a Python program to print a 3-column calendar for an entire year \n6. Write a Python program display a list of the dates for the 2nd Saturday of every month for a given year.'

In [87]:
#Write a python program to determine whether a given year is a leap year or not? 
from datetime import datetime as dt
yr = input()
is_leap = (int(yr)%4 == 0)
is_leap

2001

False

In [137]:
import time
import datetime
import calendar

#print(calendar.month(1998, 11))
year = 2016
arr = np.arange(1,13).reshape(3,4)
#calarr = arr.  #(lambda i,j: print(calendar.month(year,arr[i,j])))
#print(arr)
calarr= []

#for i in range(1,4):
#    for j in range(1,3):
#        print(calendar.month(year,arr[j,i]))

df = pd.DataFrame(data=np.arange(1,13).reshape(3,4))
k = df.applymap(lambda i: calendar.month(year,i))
print(k)

                                                   0  \
0      January 2016\nMo Tu We Th Fr Sa Su\n      ...
1        May 2016\nMo Tu We Th Fr Sa Su\n        ...
2     September 2016\nMo Tu We Th Fr Sa Su\n     ...

                                                   1  \
0     February 2016\nMo Tu We Th Fr Sa Su\n 1  2 ...
1       June 2016\nMo Tu We Th Fr Sa Su\n       1...
2      October 2016\nMo Tu We Th Fr Sa Su\n      ...

                                                   2  \
0       March 2016\nMo Tu We Th Fr Sa Su\n    1  ...
1       July 2016\nMo Tu We Th Fr Sa Su\n        ...
2     November 2016\nMo Tu We Th Fr Sa Su\n    1 ...

                                                   3
0       April 2016\nMo Tu We Th Fr Sa Su\n       ...
1      August 2016\nMo Tu We Th Fr Sa Su\n 1  2  ...
2     December 2016\nMo Tu We Th Fr Sa Su\n      ...